.header {
    height: 7vh;
    .nav-bar{
        background-color: #167df0;

    }
}


.workSpace {
    background-color: #ffffff;
    height: 93vh;
    overflow: hidden;
    .list-container-1 {
        height: 410px;
        overflow-y: scroll;
        /* width */
        &::-webkit-scrollbar {
            width: 10px;
        }
    
        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
    
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
        }
    
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
    .picker-container{
        height: 100px;
    }

}
