.header {
    height: 7vh;
    .nav-bar {
        background-color: #167df0;
    }
}

.workSpace {
    background-image: linear-gradient(#167df033, #c9c9bb);
    // height: 93vh;
    // overflow: hidden;

    .myContainers {
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        &:hover {
            box-shadow: 0 8px 16px 0 rgba(255, 251, 7, 0.2);
        }
    }
    .list-container-1 {
        height: 400px;
        overflow-y: scroll;
    }
    .list-container-2 {
        height: 570px;
        overflow-y: scroll;
    }
    .cyrcle{
        border-radius: 50%;
        height: 100px;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(22, 125, 240, 0.2);
        transition: 0.3s;

        overflow: hidden;
    }
    // .picker-container {
    //     height: 100px;
    // }
}
