.header {
    height: 7vh;
}

.list-container-1 {
    height: 410px;
    overflow-y: scroll;
    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
.workSpace {
    background-color: beige;
    height: 93vh;
    overflow: hidden;
}
